# Binary mode for images
*.bmp binary
*.png binary
*.jpg binary
*.gif binary

# Определение языка для файлов
*.txt text linguist-language=Text
*.html text linguist-language=HTML
*.asm text linguist-language=Assembly
*.inc text linguist-language=Assembly
*.exe binary linguist-language=Execute files
*.dll binary linguist-language=Execute files
